.ce-courses-container .header-img {
	background-image: url(/assets/imgs/ce-courses/ce-courses-1440x500.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 35%;
}

.course-img-wrapper {
	height: auto;
	padding-top: 24%;
}

.grid li {
	max-width: 250px;
}

@media all and (min-width: 1441px) {
	.ce-courses-container .header-img {
		background-image: url(/assets/imgs/ce-courses/ce-courses-1920x600.jpg);
		padding-top: 31%;
	}
}

@media all and (max-width: 1024px) {
	.ce-courses-container .header-img {
		background-image: url(/assets/imgs/ce-courses/ce-courses-1024x400.jpg);
		padding-top: 39%;
	}

	.sm-width {
		padding: 0 5%;
	}
}

@media all and (max-width: 768px) {
	.ce-courses-container .header-img {
		background-image: url(/assets/imgs/ce-courses/ce-courses-768x300.jpg);
	}

	.course-img-wrapper {
		padding-top: 42.85%;
	}
}

@media all and (max-width: 639px) {
	.ce-courses-container .header-img {
		background-image: url(/assets/imgs/ce-courses/ce-courses-576x300.jpg);
		padding-top: 0;
	}

	.grid li {
		max-width: 100%;
	}
}
